<!-- container section start -->
<section id="container" class="">


  <header class="header dark-bg">
    <div class="toggle-nav">
      <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
        class="icon_menu"></i></div>
    </div>

    <!--logo start-->
    <a ng-href="#/dashboard" class="logo">Health <span class="lite">Mon</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
      <!-- notificatoin dropdown start-->
      <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" >
                            <span class="profile-ava">
                                <img height="30" width="30" alt="" src="images/avatar.png">
                            </span>
            <span class="username">{{dashboard.user.name}} {{dashboard.user.surname}}</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu extended logout">
            <li class="eborder-top">
              <a href="/logout"><i class="icon_key_alt"></i> Log Out</a>
            </li>
          </ul>
        </li>
        <!-- user login dropdown end -->
      </ul>
      <!-- notificatoin dropdown end-->
    </div>
  </header>
  <!--header end-->

  <!--sidebar start-->
  <aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" ng-href="#/">
            <i class="icon_house_alt"></i>
            <span>Dashboard</span>
          </a>
        </li>

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-controller="UserWeightCtrl as uwc" cg-busy="uwc.promises">
          <div class="info-box brown-bg">
            <i class="fa fa-balance-scale"></i>
            <div class="count">{{uwc.lastWeight.weight}} KG</div>
            <div class="title">Weight</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-controller="UserHeartRateCtrl as uhrc" cg-busy="uhrc.promises">
          <div class="info-box blue-bg">
            <i class="fa fa-heartbeat"></i>
            <div class="count">{{uhrc.lastHeartRate.heartRate}} BPM</div>
            <div class="title">Heart rate</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-controller="UserBloodPressureCtrl as ubpc" cg-busy="ubpc.promises">
          <div class="info-box red-bg">
            <i class="fa fa-heart"></i>
            <div class="count">{{ubpc.lastBloodPressure.diastolic}}/{{ubpc.lastBloodPressure.systolic}} mmHg</div>
            <div class="title">Blood Pressure</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="info-box orange-bg">
            <i class="fa fa-universal-access"></i>
            <div class="count">36.9 °C</div>
            <div class="title">Body Temperature</div>
          </div><!--/.info-box-->
        </div><!--/.col-->

      </div><!--/.row-->

      <div class="row">
        <div class="col-lg-9 col-md-12" ng-controller="UserStatsChartCtrl as uscc">
          <canvas id="user-stats" class="chart chart-line" chart-colours="uscc.colours" chart-data="uscc.data" chart-labels="uscc.labels"
            chart-legend="true" chart-series="uscc.series"></canvas>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="info-box yellow-bg">
                <i class="fa fa-sun-o"></i>
                <div class="count">8/10</div>
                <div class="title">Weather Rating</div>
              </div><!--/.info-box-->
            </div><!--/.col-->
          </div>
          <section class="panel">
            <header class="panel-heading">
              Todays Calories
            </header>
            <table class="table">
              <thead>
              <tr>
                <th>Food</th>
                <th>Quantity</th>
                <th>Calories</th>
                <th>Meal Type</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Apple</td>
                <td>400g</td>
                <td>150 kcal</td>
                <td>Breakfast</td>
              </tr>
              <tr>
                <td>Apple</td>
                <td>400g</td>
                <td>150 kcal</td>
                <td>Breakfast</td>
              </tr>
              <tr>
                <td>Apple</td>
                <td>400g</td>
                <td>150 kcal</td>
                <td>Breakfast</td>
              </tr>
              <tr>
                <td>Apple</td>
                <td>400g</td>
                <td>150 kcal</td>
                <td>Breakfast</td>
              </tr>
              <tr>
                <td>Apple</td>
                <td>400g</td>
                <td>150 kcal</td>
                <td>Breakfast</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>1200kcal</td>
              </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
  </section>
  <!--main content end-->
</section>
<!-- container section start -->
