<div class="login-img3-body">
  <div class="container">
    <form class="login-form" novalidate ng-submit="signup.signUp(user)" cg-busy="signup.promises">
      <div class="login-wrap">
        <p class="login-img"><i class="icon_key_alt"></i></p>
        <div ng-if="signup.error" class="alert alert-block alert-danger fade in">
          <button data-dismiss="alert" class="close close-sm" type="button">
            <i class="icon_close"></i>
          </button>
          <strong>Oh snap!</strong> {{signup.error}}
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_profile"></i></span>
          <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="Username" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_tag_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.name" placeholder="Name" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_tag_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.surname" placeholder="Surname" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_mail_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.email" placeholder="Email" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_pin_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.city" placeholder="City" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_pin_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.lat" placeholder="Latitude" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_pin_alt"></i></span>
          <input type="text" class="form-control" ng-model="user.lon" placeholder="Longitude" autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon_key_alt"></i></span>
          <input type="password" name="password" class="form-control" ng-model="user.password" placeholder="Password">
        </div>
        <button class="btn btn-info btn-lg btn-block" type="submit" >SignUp</button>
        <label class="checkbox">
          <span class="pull-right"> <a ng-href="#/">Already have account?</a></span>
        </label>

      </div>
    </form>

  </div>
</div>
